.exercises .mdc-list-item {
    border-radius: 4px;
}

.exercises .mdc-list-item + .mdc-list-item {
    margin-top: 4px;
}

.exercises .mdc-list-item--correct .mdc-list-item__text {
    color: forestgreen !important;
    opacity: 1;
}

.exercises .mdc-list-item--incorrect .mdc-list-item__text {
    color: firebrick !important;
    opacity: 1;
}