.exercise .mdc-list-item {
    border-radius: 4px;
}

.exercise .mdc-list-item__text {
    flex: 1;
}

.exercises .mdc-list-item + .mdc-list-item {
    margin-top: 4px;
}

.exercises .mdc-list-item--correct .mdc-list-item__text {
    color: forestgreen !important;
    opacity: 1;
}

.exercises .mdc-list-item--incorrect .mdc-list-item__text {
    color: firebrick !important;
    opacity: 1;
}

.exercise .mdc-text-field {
    display: flex;
    width: 100%;
}

.exercise-forms .mdc-list-item__text input {
    flex: 1;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

.exercise-forms .mdc-typography input {
    width: 100%;
    display: block;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    padding: 0;
    border: none;
    outline: none;
}